.paper-wallet {
    height: 373px;
    margin: 0 auto!Important;
    background: no-repeat center;
    position: relative;
    border: 2px dotted #00003470;
}
.paper-wallet > * {
    position: absolute;
}

.paper-wallet--logo {
    max-width: 25%;
    margin: 0 auto;
}

.paper-wallet--background {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.paper-wallet--qr {
    top: 39px;
    height: 112x;
    width: 112px;
}

.paper-wallet--pvt-seed-qr,
.paper-wallet--pvt-seed-txt {
    margin-left: 251px;

}

.paper-wallet--name {
    top: 123px;
    left: 200px;
    width: 400px;
    text-align: center;
    color: #4a90e2;
    font-size: 25px;
    font-family: 'Nunito';
    font-weight: bold;
    white-space: nowrap;
}

.paper-wallet--msg {
    top: 158px;
    left: 200px;
    width: 400px;
    text-align: center;
    color: #4a90e2;
    font-size: 18px;
    font-family: 'Nunito';
    line-height: 18px;
    word-wrap: break-word;
}
