@font-face {
  font-family: "NotoSans Bold";
    src:
    url("../fonts/NotoSans-Bold.woff"), /* Pretty Modern Browsers */
    url("../fonts/NotoSans-Bold.woff2"), /* Super Modern Browsers */
    url("../fonts/NotoSans-Bold.eot"),
    url("../fonts/NotoSans-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSans-Bold.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}

@font-face {
  font-family: "NotoSans Regular";
    src:
    url("../fonts/NotoSans-Regular.woff"), /* Pretty Modern Browsers */
    url("../fonts/NotoSans-Regular.woff2"), /* Super Modern Browsers */
    url("../fonts/NotoSans-Regular.eot"),
    url("../fonts/NotoSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/NotoSans-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
}

.paper-wallet {
    height: 373px;
    margin: 0 auto!Important;
    background: no-repeat center;
    position: relative;
    border: 2px dotted rgba(0,0,54,0.5);
}
.paper-wallet > * {
    position: absolute;
}

.paper-wallet--logo {
    max-width: 25%;
    margin: 0 auto;
}

.paper-wallet--background {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.paper-wallet--bgr-img {
  margin: 0 !important;
  position: absolute;
  left: -2px;
  top: -2px;
  z-index: -1;
  width: 800px;
}

.paper-wallet--qr {
    top: 40px;
    height: 112x;
    width: 112px;
}

.paper-wallet--pub-addr-qr, .paper-wallet--pub-addr-txt {
    left: 35px;
    display: hidden;
}

.paper-wallet--pvt-seed-qr {
    right: 35px;
}

.paper-wallet--pvt-seed-txt {
  right: 35px;
}

.paper-wallet--pvt-seed-txt, .paper-wallet--pub-addr-txt, .paper-wallet--ios-txt, .paper-wallet--android-txt {
  width: 112px;
  text-align: center;
  color: #000034;
  font-size: 13px;
  font-family: 'NotoSans Regular';
  white-space: nowrap;
}

.paper-wallet--pvt-seed-txt, .paper-wallet--pub-addr-txt {
  top: 12px;
}

.paper-wallet--ios-txt, .paper-wallet--android-txt {
  top: 208px;
}

.paper-wallet--ios-txt {
  left: 36px;
}

.paper-wallet--android-txt {
  right: 36px;
}

.paper-wallet--name {
    top: 123px;
    left: 200px;
    width: 400px;
    text-align: center;
    color: #4a90e2;
    font-size: 23px;
    font-family: 'NotoSans Bold';
    font-weight: bold;
    white-space: nowrap;
}

.paper-wallet--msg {
    top: 158px;
    left: 200px;
    width: 400px;
    text-align: center;
    color: #4a90e2;
    font-size: 19px;
    line-height: 19px;
    font-family: 'NotoSans';
    word-wrap: break-word;
}

.paper-wallet--seed, .paper-wallet--account {
    left: 50px;
    width: 700px;
    text-align: center;
    color: #000034;
    font-size: 11px;
    line-height: 12px;
    font-family: 'NotoSans Bold';
    word-wrap: break-word;
}

.paper-wallet--account {
  bottom: 14px;
  display: hidden;
}

.paper-wallet--guide {
    left: 150px;
    width: 500px;
    text-align: center;
    color: #000034;
    font-size: 13px;
    line-height: 15px;
    font-family: 'NotoSans Regular';
    word-wrap: break-word;
}
