.paper-wallet {
    height: 350px;
    margin: 0 auto!Important;
    background: no-repeat center;
    position: relative;
    border: 1px dotted black;
}
.paper-wallet > * {
    position: absolute;
}

.paper-wallet--logo {
    max-width: 25%;
    margin: 0 auto;
}

.paper-wallet--background {
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.paper-wallet--qr {
    top: 74px;
    height: 100x;
    width: 100px;
    background-color: #ffffff;
}

.paper-wallet--pvt-seed-qr,
.paper-wallet--pvt-seed-txt {
    margin-left: 97px;

}

.paper-wallet--txt {
    top: 50px;
    width: 200px;
    text-align: left;
    color: #ffffff;
    font-size: 12px;
    font-family: 'Nunito';
}
